.contenedor-botones {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  margin-top: 2rem;
}

.btn {
  background-color: #9453b3;
  color: #F8FAFC;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
  font-size: 0.9rem;

  &:hover {
    background-color: #db9fee;
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
  }
}
