.cuadro-color {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 1.25rem;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px -1px rgba(152, 87, 212, 0.1);
  border: 4px solid rgba(114, 31, 170, 0.05);
}

.titulo-color {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #eea5ea;
  letter-spacing: 0.025em;
}
