.cuadro-color{
    width: 260px;
    height: 260px;
    border-radius: 22px;
    transition: background-color 0.3s aese;
}

.titulo_color{
    color: aliceblue;
    margin: 40px 0;
    font-size: 1.5rem;
    text-align: center;
}